<body>

    <form action="">
        <div class="login_div text-arrow">
            <div class="logo-main">
                <img id="logo1" src="../../../assets/images/logo-main.png" alt="Logo">
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Korisnicko Ime:</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Lozinka:</mat-label>
                    <input matInput type="password">
                </mat-form-field>
            </div>
            <div class="login-button">
                <button mat-raised-button color="primary"><a routerLink="/kategorije">Prijavi se</a></button>
            </div>
        </div>
    </form>

</body>
