<app-mainbar>

    <div class="text-center">
        <h2>Sta ces popiti??:</h2>
    </div>

    <br>

    <div class="main">

        <div class="container">
            <img class="image" alt="Vino"
                src="https://opusteno.rs/slike/2016/04/crveno-vino-jacanje-imuniteta-29865/_sp-crveno-vino-jacanje-imuniteta.jpg">
            <div class="">
                <div class="text">{{vino.name}} {{vino.price}}din</div>
            </div>
        </div>

        <div class="container">
            <img class="image" alt="jabuka"
                src="https://cdn.agroklub.com/upload/images/image/7-sok-od-divlje-jabuke.jpg">
            <div class="">
                <div class="text">{{jabuka.name}} {{jabuka.price}}din</div>
            </div>
        </div>

        <div class="container">
            <img class="image" alt="Multivitamin"
                src="https://www.recepti.com/img/recipe/20962-gusti-sok-multivitamin_zoom.jpg">
            <div class="">
                <div class="text">{{multivitamin.name}} {{multivitamin.price}}din</div>
            </div>
        </div>

        <div class="container">
            <img class="image" alt="pivo"
                src="https://cdn.webnoviny.sk/sites/21/2016/02/ace58b0b8_shutterstock_129308426-1.jpg">
            <div class="">
                <div class="text">{{pivo.name}} {{pivo.price}}din</div>
            </div>
        </div>

        <div class="container">
            <img class="image" alt="Sampanjac"
                src="http://najpoklon.com/image/data/lux%20poklon/bottega_venetiangold_prosecco750ml-najpoklon.jpg">
            <div class="">
                <div class="text">{{sampanjac.name}} {{sampanjac.price}}din</div>
            </div>
        </div>

    </div>




</app-mainbar>
